<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %} <!--css, js, images 로딩 최상단에 위치!-->
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
    <!--Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="{%static 'bootstrap.min.css' %}">
    <title>Question List</title>
</head>
<body>
    <!--container-->
    <div class="container mt-5">
        <!--title-->
        <div class="text-start mb-5">
            <h2>질문 목록</h2>
        </div>
        <!--title end-->
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="table-dark">
                    <th scope="col" class="text-center">번호</th>
                    <th scope="col" class="text-center">제목</th>
                    <th scope="col" class="text-center">등록일</th>
                </tr>
            </thead>
            <tbody>
            {%if question_list%}
                {% for question in question_list%}
                <tr>
                    <td class="text-center">{{forloop.counter}}</td>
                    <td class="text-start"><a href="{% url 'pybo:detail' question.id %}">{{question.subject}}</a></td>
                    <td class="text-center">{{question.create_date|date:"Y-m-d"}}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="99">질문이 없습니다.</td>
                </tr>
            {%endif%}
            </tbody>
        </table>
        {% csrf_token %}
    </div>
    <!--container end-->

</body>
</html>